@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

}

@layer utilities {
    .blue_container {
        @apply w-full bg-primary min-h-[53rem] pattern flex justify-center items-center flex-col py-10 px-6;
    }

    .heading {
        @apply text-center text-2xl text-white-100 mb-8 uppercase px-6 py-3  font-extrabold sm:text-[3.4rem] sm:leading-[6.4rem] text-[1.6rem] leading-[4.6rem] my-5 rounded-lg;
    }

    .sub-heading {
        @apply w-full font-medium text-[20px] text-white max-w-2xl text-center break-words;
    }

    .experience-div {
        @apply w-full min-h-[10rem] md:w-full md:h-[12rem]  md:text-left  bg-black-200 text-center text-white-100 flex flex-col items-center py-4 px-4 rounded-md shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 cursor-pointer
    }

    .testimonial-div {
        @apply w-full min-h-[10rem] md:w-full md:h-[12rem]  bg-black-300 text-center border border-black flex flex-col items-center py-4 px-4 rounded-md shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 cursor-pointer
    }

    .expTitle {
        @apply text-white-200 uppercase font-black text-lg md:text-2xl pb-3
    }

    .supText {
        @apply font-sm font-normal text-white-100 mt-3
    }

    .section_container {
        @apply w-full px-6 py-10 max-w-7xl mx-auto;
    }

    .pattern {
        background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(191, 131, 21, 0.2) 49.5%,
            rgba(191, 131, 21, 0.9) 50.5%,
            transparent 50.5%
        );
        background-size: 5% 100%;
        background-position: center;
        background-repeat: repeat-x;
    }
}

.navbar {
    background: #FFFFFF;
    color: #000;
}

@layer base {

}
